# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data & large files
vit_cbir/data/
vit_cbir/cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
